<form method="post" action="{{ path('app_reserver_event_delete', {'id_reservation': reserver_event.id_reservation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserver_event.id_reservation) }}">
    <button class="btn">Delete</button>
</form>
