{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Ajouter nouveau Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

     <a class="collapse-item" href="{{ path('app_student_element') }}">Cards</a>
{% endblock %}
